@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/Image/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MENS</h5>
                    <p class="card-text">MENS WEAR</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/Image/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">KIDS</h5>
                    <p class="card-text">KIDS SESSION.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/Image/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">WOMEN</h5>
                    <p class="card-text">WOMEN WEAR</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/Image/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GIFTS</h5>
                    <p class="card-text">GIFTS FOR ALL.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/Image/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FOOTWEAR</h5>
                    <p class="card-text">ALL TYPES</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100">
                <img src="~/Image/6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SHOPPING</h5>
                    <p class="card-text">ONLINE SHOPPING</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>

    </div>

</div>
